In [1]:
import pandas as pd

In [2]:
import sqlite3

In [10]:
conn = sqlite3.connect('rides.db', detect_types=sqlite3.PARSE_DECLTYPES)

In [11]:
df = pd.read_sql_query('SELECT * FROM rides', conn)

In [12]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2008-12-31 23:03:07,2009-01-01 17:12:37,1,2.72,1,N,41,236,1,12.5,0.0,0.5,1.00,0.0,0.3,14.30
1,1,2018-11-01 00:17:31,2018-11-01 00:30:23,2,3.40,1,N,209,79,1,13.0,0.5,0.5,2.85,0.0,0.3,17.15
2,2,2018-11-01 00:19:34,2018-11-01 00:48:17,2,4.10,1,N,230,7,1,20.0,0.5,0.5,4.26,0.0,0.3,25.56
3,2,2018-11-01 00:20:09,2018-11-01 00:34:30,1,4.23,1,N,236,168,2,14.0,0.5,0.5,0.00,4.0,0.3,19.30
4,2,2018-11-01 00:20:53,2018-11-01 00:28:32,1,1.47,1,N,229,230,1,7.5,0.5,0.5,1.00,0.0,0.3,9.80

In [13]:
df['duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']

In [14]:
print('min:', df['duration'].min(), 'max:',df['duration'].max())

min: -1 days +23:12:44 max: 0 days 23:58:45

In [16]:
df = df[df['duration'] > pd.Timedelta('1m')]
mask = df['duration'] > pd.Timedelta('5h')
df.loc[mask, 'duration'] = df['duration'].median()
print('min:', df['duration'].min(), 'max:',df['duration'].max())

min: 0 days 00:01:01 max: 0 days 04:47:05